* {
box-sizing: border-box;
font-family: 'Be Vietnam Pro', sans-serif;
font-family: 'Roboto', sans-serif;
margin-left: 70px;
}

/*clases para fondo*/
.fondo1 {
background-image:url(/imagenes/bg-simplify-section-desktop.svg);
background-repeat: no-repeat;
background-position:top;
}


/*Clases para el header*/

header {
width: 100%;
height: 200px;
display: flex;
justify-content:space-around;
margin-top: 80px;
position: relative;
box-sizing: border-box;
}

.logo {
width: 300px;
height: 90px;
padding-top: 10px;
margin-left: 180px;
}

.menu {
display: flex;
width: 800px;
padding-top: 10px;
position: relative;
margin-right: 100px;
margin-left: 300px;
}

ul.menu li{
margin: 10px;
list-style-type: none;
font-size: 25px;
position: relative
}

.menu li:hover {
color: rgb(206, 206, 206);
text-decoration: underline;
cursor:pointer;
}

button {
width: 300px;
height: 90px;
background-color: #F3603B;
border-radius: 50px;
font-size: 30px;
color: rgb(255, 255, 255);
padding: 20px 50px 20px 50px;
text-align: center;
position: relative;
}

button:hover {
color: rgb(255, 255, 255);
text-decoration: underline;
cursor:pointer;
}

/*body*/
body {
display: flexbox;
margin: 0px;
}

/*Clases para el main*/

main {
width: 100%;
display: flexbox;
box-sizing: border-box;
}

/*clases para section uno*/

.section1 {
width: 100%;
display:flex;
justify-content: space-around;
position: relative;
margin-left: 100px;
box-sizing: border-box;
}

.bringe {
width: 1000px;
height: 600px;
flex-direction: column;
z-index: 20;
top: 30px;
}

h1 {
font-size: 120px;
color: rgb(35, 44, 81);
width: 1000px;
line-height: 160px;
font-weight: 900;
}

.bringe,p,h3 {
font-size: 40px;
line-height: 65px;
color: rgb(146, 145, 145);
width: 850px;
padding-right: 20px;
font-weight: normal;
}

.ilustracion {
width: 1200px;
height: 1200px;
position: relative;
bottom: 30px;
justify-self: self-end;
left: 100px;
margin-right: 0px;

}

/*Clases de la seccion dos*/

.section2 {
width: 100%;
display:flex;
justify-content: space-around;
position: relative;
margin-left: 100px;
margin-top: 100px;
box-sizing: border-box;
} 
.different {
margin-top: 50px;
width: 1000px;
}

.lista {
width: 1200px;
}

.section2,div,h2 {
font-size: 90px;
color: rgb(35, 44, 81);
line-height: 120px;
font-weight: 900;
}

.section2,article,ol,h4 {
    
font-size: 50px;
color: rgb(35, 44, 81);
line-height: 60px;
font-weight: 900;
}

/*titulo tres*/

.titulo3 {
text-align: center;
padding-bottom: 120px;
}

/*Clases de la seccion 3*/

.section3 {
width: 100%;
display:flex;
justify-content: space-around;
position: relative;     
box-sizing: border-box; 
}

.comentarios {
width: 900px;
height: 600px;
background-color: #fdeaea;
justify-content: center;
flex-direction: column;
text-align: center;
align-content: center;
}

.comentarios,h5 {
position: relative;
font-size: 40px;
margin-top: 0px;
bottom: 80px;
z-index: 10;
text-align: center;
}

.comentarios p {
width: 900px;
position: absolute;
top: 250px;
z-index: 30;
text-align: center;
}
.avatar {
width: 180px;
height: 180px;
justify-self: center;
z-index: 20;
position: relative;
bottom: 50px;
}

.botonmedio{
display: flex;
justify-content: center;
width: 100%;
padding-bottom: 100px;
}


/*clases de la seccion cuatro*/

.section4 {
width: 100%;
height: 400px;
display:flex;
justify-content: space-around;
position: relative;
background-color: #F3613C; 
box-sizing: border-box;
}

.simple {
width: 50%;
justify-content: flex-end;
align-content: center;
padding-left: 15%;
}

.botonfinal {
width: 50%;
flex-wrap: wrap;
align-content: center;
justify-content: center;
display: flex;
}

.botonfinal button {
background-color: rgb(255, 255, 255);
color: #F3613C;
}

.section4 h2 {
font-size: 90px;
color: rgb(255, 255, 255);
line-height: 98px;
font-weight: bold;
}

/*clases del footer*/

footer {
width: 100%;
height: 400px;
display:flex;
justify-content: space-around;
position: relative;
background-color: #7a7a7a; 
box-sizing: border-box;
}

footer .logo {
height: 60px ;
}

.icons {
width: 30%;
display: flex;
position: relative;
flex-wrap: wrap;
justify-content: center;
}


.menufooter {
width: 30%;
display: flex;
justify-content: space-between;
align-items: center;
}

.nav1 {
width: 15%;
list-style-type: none;
position: relative;
font-size: 30px;
line-height: 38px;
color: white;
}

.nav2 {
width: 15%;
list-style-type: none;
position: relative;
font-size: 30px;
line-height: 38px;
color: white;
text-align: left
}

.formulario {
width: 40%;
display: flex;
flex-direction: column;
align-content:flex-end;
position: relative;
}

.form1 {
width: 500px;
height: 100px;
border-radius: 20px 20px 20px 20px;
align-self: center;
position: relative;
}

.buttonform {
width: 100px;
height: 50px;
border-radius:  20px 20px 20px;
align-self: center;
background-color: #F3603B;
}

.copy {
width: 20%;
font-size: 30px;
color: rgb(255, 255, 255);
}

