* {
box-sizing:border-box;
font-family: 'Be Vietnam Pro', sans-serif;
font-family: 'Roboto', sans-serif;
}

body{
width: 100%;
background-image: url(/imagenes/bg-tablet-pattern.svg);
background-repeat: no-repeat;
background-position-x: right;
} 


/*Clases para el header*/

header {
width: 100%;
height: 200px;
display: flex;
justify-content:space-around;
margin-top: 80px;
position: relative;
}

.logo {
width: 300px;
height: 90px;
padding-top: 10px;
}

.menu {
display: flex;
padding-top: 10px;
position: relative;
}

ul.menu li{
display:inline-block;
margin: 10px;
list-style-type: none;
font-size: 25px;
position: relative
}

.menu li:hover {
color: rgb(206, 206, 206);
text-decoration: underline;
cursor:pointer;
}

button {
width: 300px;
height: 90px;
background-color: #F3603B;
border-radius: 50px;
font-size: 30px;
color: rgb(255, 255, 255);
padding: 20px 50px 20px 50px;
text-align: center;
position: relative;
}
    
button:hover {
color: rgb(255, 255, 255);
text-decoration: underline;
cursor:pointer;
}

header span button {
margin-top: 0px;
}

.bars {
display: none;
font-size: 60px;
color:rgb(35, 44, 81);
}

main {
width: 100%;
}
    
/*clases para section uno*/
    
.section1 {
width: 100%;
display:flex;
justify-content: space-around;
position: relative;
}

.bringe {
width: 700px;
height: 500px;
flex-direction: column;
z-index: 20;
top: 30px;
}

h1 {
font-size: 90px;
font-weight: 900;
color: rgb(35, 44, 81);
line-height: 100px;
}

.bringe,p,h3 {
font-size: 30px;
line-height: 50px;
color: rgb(146, 145, 145);
padding-right: 20px;
font-weight: normal;
}

.section1 .bringe,button {
margin-top: 60px;
}

.ilustracion {
width: 900px;
height: 900px;
position: relative;
bottom: 30px;
justify-self: self-end;
z-index: -10;
}

/*Clases de la seccion dos*/

.section2 {
width: 100%;
display:flex;
justify-content: space-around;
position: relative;
text-align: justify;
background-image: url(/imagenes/bg-tablet-pattern.svg);
background-repeat: no-repeat;
background-position-x:left; 
background-position-y: bottom; 
} 
.different {
margin-top: 50px;
width: 40%;
padding: 180px;
}
    
.lista {
width: 50%;
padding: 180px;
}
    
.section2,div,h2 {
font-size: 55px;
color: rgb(35, 44, 81);
line-height: 60px;
font-weight: 900;
}

.section2,article,ol,h4 {        
font-size: 30px;
color: rgb(35, 44, 81);
line-height: 50px;
font-weight: 900;
}
        
.section2,article,ol,p {
font-size: 30px;
line-height: 55px;
font-weight: normal;
padding-left: 0px;
}

/*titulo tres*/

.titulo3 {
text-align: center;
padding-bottom: 120px;
}

/*Clases de la seccion 3*/

.section3 {
width: 100%;
display:flex;
justify-content: space-around;
position: relative;


}
    
.comentarios {
width: 800px;
height: 500px;
background-color: #f7eaea84;
justify-content: center;
flex-direction: column;
text-align: center;
align-content: center;
}

.comentarios,h5 {
position: relative;
font-size: 40px;
margin-top: 20px;
bottom: 40px;
z-index: 10;
text-align: center;
}

.comentarios p {
position: absolute;
top: 250px;
z-index: 30;
text-align: center;
}

.avatar {
width: 180px;
height: 180px;
justify-self: center;
z-index: 20;
position: relative;
bottom: 50px;
}

.botonmedio{
display: flex;
justify-content: center;
width: 100%;
padding-bottom: 100px;
}

/*clases de la seccion cuatro*/

.section4 {
width: 100%;
height: 400px;
display:flex;
justify-content: space-around;
position: relative;
background-color: #F3613C; 
}
    
.simple {
width: 40%;
justify-content: flex-end;
align-content: center;
padding-left: 15%;
background-image: url(/imagenes/bg-tablet-pattern.svg);
background-repeat: no-repeat;
background-position-x:center; 
background-position-y: bottom; 
}
    
.botonfinal {
width: 50%;
justify-content:center;
display: flex;
align-items: center;
position:relative;
bottom: 50px;
}
    
.botonfinal button {
background-color: rgb(255, 255, 255);
color: #F3613C;
}
    
.section4 h2 {
font-size: 50px;
color: rgb(255, 255, 255);
line-height: 70px;
font-weight: bold;
padding-top: 70px;
}

/*clases del footer*/

footer {
width: 100%;
height: 400px;
display:flex;
justify-content: space-between;
position: relative;
background-color: #000000; 
}
    
footer .logo {
height: 60px;
justify-self: center;
margin-left: 60px;
}
    
.icons {
width: 20%;
display: flex;
position: relative;
flex-wrap: wrap;
justify-content: center;
flex-direction: column;
margin-left: 50px;
}

.redes {
color:white;
font-size: 40px;
padding: 90px;
position: relative;
top: 90px;
justify-self: center;
}

.redes:hover {
color:#F3613C;
cursor:pointer;
}

.menufooter {
width: 30%;
display: flex;
justify-content: space-between;
align-items: center;
margin-left: 0px;
}
    
.nav1 {
list-style-type: none;
position: relative;
font-size: 30px;
line-height: 70px;
color: white;
text-align: left;
}
    
.nav2 {
list-style-type: none;
position: relative;
font-size: 30px;
line-height: 70px;
color: white;
text-align: left;
}

.formulario {
width: 40%;
display: flex;
flex-direction: column;
align-items: center;
justify-items: center;
justify-content: space-around;
position: relative;
}
    
.form1 {
width: 400px;
height: 70px;
text-align:center;
font-size: 25px;
border-radius: 30px 30px 30px 30px;
align-self: center;
position: relative;
top: 0px;
margin-bottom: 150px;
}
    
.buttonform {
width: 90px;
height: 70px;
border-radius:  30px 30px 30px 30px;
background-color: #F3603B;
font-size: 30px;
position: relative;
align-self: center;
top:0px;
margin-bottom: 70px;
}

.buttonform:hover {
color:rgb(255, 255, 255);
cursor:pointer;
}
    
.copy {
position: absolute;
justify-self: flex-end;
align-self: flex-end;
color: rgb(255, 255, 255);
}

/*Aquí empizan las medias queries*/

@media screen and (min-width:250px) and (max-width:400px) {
    
    body{
    width: 100%;
    background-image: url(/imagenes/bg-simplify-section-mobile.svg);
    }  

    /*Clases para el header*/

    header {
    margin-top: 80px;
    }
    
    .menu {
    display: flex;
    padding-top: 10px;
    position: relative;
    }
    
    ul.menu li{
    display: none;
    }
    
    .menu li:hover {
    display: none;
    }

    
    header span button {
    display: none;
    }
    
    .bars {
    font-size: 60px;
    color:rgb(35, 44, 81);
    display: block;
    }
    
    header span img {
    position: fixed;
    margin: 0px;
    right: 100%;
    }
}